.shield {
    width: 35rem;
}

.cadastro-emprestimo {
    flex-direction: column;
}

.cadastro-emprestimo div {
    margin-bottom: 1rem;
}

.cadastro-emprestimo div label, .cadastro-emprestimo div input {
    display: block;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    width: 20rem;
    height: 1.5rem;
    font-size: 1rem;
}   

.botao-envio {
    width: 20rem;
    height: 4rem;
}

.tabela-emprestimo tr{
    border: 1px white;
}