{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}

{% block content %}


<div>
    <h2>Cadastro usuario:</h2>
    <form action="/cadastrar_usuario" method="post" id="submit">
        <div>
            <div>
                <div>
                    <label for="">Nome</label>
                    <input type="text" name="Nome" required>
                </div>
                <div>
                    <label for="">Email</label>
                    <input type="text" name="Email" required>
                </div>
                <div>
                    <label for="">Telefone</label>
                    <input type="text" name="Telefone" required>
                </div>
                <div>
                    <label for="">Data de nascimento</label>
                    <input type="date" name="Data_nascimento" required>
                </div>
            </div>
            <div>
                <div>
                    <label for="">CPF</label>
                    <input type="text" name="CPF" required>
                </div>
                <div>
                    <label for="">Senha</label>
                    <input type="text" name="Senha" required>
                </div>
                <div>
                    <label for="">Confirmar Senha</label>
                    <input type="text" name="c_Senha" required>
                </div>
                <div>
                    <label for="">Nivel de acesso</label>
                    <input type="number" name="lvl_acess" required>
                </div>
            </div>
        </div>
    </form>
    <button id="botao">Cadastrar</button>
    {% if msg == True %}
    <p>Usuario cadastrado!</p>
    {% elif msg == False %}
    <p>Houve um erro!</p>
    {% endif %}
    <div id="meuAlert">
        <div>
            <p>Você irá criar um usuario deseja continuar?</p>
            <div>
                <button onclick="fecharAlert()" value="confirmar" name="confirmacao" form="submit">Sim</button>
                <button onclick="fecharAlert()" value="negar" name="negado">Não</button>
            </div>
        </div>
    </div>

    <script>
        const botao = document.getElementById('botao');
        const meuAlert = document.getElementById('meuAlert');
        const fecharAlert = () => {
            meuAlert.classList.add('sumir');
        }
        const submit = document.getElementById('submit');

        botao.addEventListener('click', function () {
            meuAlert.classList.remove('sumir');
            meuAlert.classList.add('alert');
        });
    </script>
    {% endblock %}