{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}

{% block content %}



{% include "navbar-cadastro.html" %}

<div>
    <div>
        <form action="" method="post">
            <h1>Cadastrar genero</h1>

            <label for="nome">Genero:</label>
            <input type="text" id="genero" name="genero" required><br>

            <button>Cadastrar</button>
        </form>
    <table>
            <tr>
                <th>Id gênero</th>
                <th>Gênero</th>
            </tr>
            {% for genero in genero %}
            <tr>
                <td>{{ genero.id_genero }}</td>
                <td>{{ genero.genero }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}