{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}

{% block content %}
{% include "navbar-cadastro.html" %}

<head>
    <link rel="stylesheet" href="../../../static/css/rotas/cadastrargeneros.css">
</head>

<div class="d-flex-center d-collun">
    <div class="container-cadastrogeneros">
        <form action="" method="post" class="shield d-flex-center d-collun">
            <h1>Cadastrar genero</h1>

            <label for="nome">Genero:</label>
            <input type="text" id="genero" name="genero" required><br>

            <button class="botao-enviar">Cadastrar</button>
        </form>
    </div>
    <table class="table">
        <tr>
            <th>Id gênero</th>
            <th>Gênero</th>
        </tr>
        {% for genero in genero %}
        <tr>
            <td>{{ genero.id_genero }}</td>
            <td>{{ genero.genero }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>

<script src="../../../static/js/botao.js"></script>
{% endblock %}