{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}
{% block content %}


{% include "navbar-cadastro.html" %}

<head>
    <link rel="stylesheet" href="../../../static/css/rotas/cadastrarlocalidade.css">
</head>
<div class="d-flex-center d-collun">
    <div class="d-flex-center">
        <form action="" method="post" class="shield input-localidade d-flex-center d-collun">
            <h1>Cadastrar câmpus</h1>

            <label for="titulo">Nome do Câmpus:</label>
            <input type="text" id="campus" name="campus" required><br>

            <button class="botao-enviar">Cadastrar</button>
        </form>
    </div>
    <table class="table">
        <tr>
            <th>Id câmpus</th>
            <th>Nome do câmpus</th>
            <th>Alterar infomação</th>
            <th>Excluir câmpus</th>
        </tr>
        {% for campus in campus_l %}
        <tr>
            <td>{{ campus.id_campus }}</td>
            <td>{{ campus.nome }}</td>
            <td class="alterar-info"><button id="botao" class="botao-alterar">Alterar</button></td>
            <td class="alterar-info"><button id="botao" class="botao-excluir">Excluir</button></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}