{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}
{% block content %}


{% include "navbar-cadastro.html" %}

<head>
    <link rel="stylesheet" href="../../../static/css/rotas/cadastrarlocalidade.css">
</head>
<div>
    <div class="d-flex-center">
        <form action="" method="post" class="shield input-localidade d-flex-center d-collun">
            <h1>Cadastrar câmpus</h1>

            <label for="titulo">Nome do Câmpus:</label>
            <input type="text" id="campus" name="campus" required><br>

            <button class="botao-enviar">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}