{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}
{% block content %}

{% include "navbar-cadastro.html" %}

<head>
    <link rel="stylesheet" href="../../../static/css/rotas/cadastrareditora.css">
</head>
<div class="d-flex-center d-collun">
    <form action="" method="post" class="d-flex-center d-collun shield">
        <div class="d-flex-center">
            <div class="input-editora d-flex-center d-collun">
                <label for="">Nome da editora</label>
                <input type="text" name="nome">

                <label for="">Telefone</label>
                <input type="tel" name="telefone">

                <label for="">Endereço</label>
                <input type="text" name="endereco">

                <label for="">Bairro</label>
                <input type="text" name="bairro">
            </div>
            <div class="input-editora d-flex-center d-collun">
                <label for="">Cidade</label>
                <input type="text" name="cidade">

                <label for="">CEP</label>
                <input type="text" name="cep">

                <label for="">CNPJ</label>
                <input type="text" name="cnpj">

                <label for="">E-mail</label>
                <input type="email" name="email">
            </div>
        </div>
        <button class="botao-enviar">Cadastrar</button>
    </form>
    <table class="table">
        <tr>
            <th>Id editora</th>
            <th>Nome da editora</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>CEP</th>
            <th>CNPJ</th>
        </tr>
        {% for editora in editora %}
        <tr>
            <td>{{ editora.id_editora }}</td>
            <td>{{ editora.Nome }}</td>
            <td>{{ editora.Telefone }}</td>
            <td>{{ editora.Endereço }}</td>
            <td>{{ editora.Bairro }}</td>
            <td>{{ editora.Cidade }}</td>
            <td>{{ editora.Cep }}</td>
            <td>{{ editora.CNPJ }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<script src="../../../static/js/botao.js"></script>
{% endblock %}