{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}
{% block content %}

{% include "navbar-cadastro.html" %}

<head>
    <link rel="stylesheet" href="/static/css/paginas/cadastrareditora.css">
</head>

<div class="shield">
    <form action="" method="post" class="form-editora d-flex-center d-flex-collum">
        <div class="d-flex-center">
            <div class="d-flex d-flex-collum">
                <label for="">Nome da editora</label>
                <input type="text" name="nome">

                <label for="">Telefone</label>
                <input type="tel" name="telefone">

                <label for="">Endereço</label>
                <input type="text" name="endereco">

                <label for="">Bairro</label>
                <input type="text" name="bairro">
            </div>
            <div class="d-flex d-flex-collum">
                <label for="">Cidade</label>
                <input type="text" name="cidade">

                <label for="">CEP</label>
                <input type="text" name="cep">

                <label for="">CNPJ</label>
                <input type="text" name="cnpj">

                <label for="">E-mail</label>
                <input type="email" name="email">
            </div>
        </div>
        <button class="botao-envio">Cadastrar</button>
    </form>
</div>

{% endblock %}