{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}

{% block content %}
{% include "navbar-cadastro.html" %}

<head>
    <link rel="stylesheet" href="../../../static/css/rotas/cadastrarautores.css">
</head>
<div>
    <div class="d-flex-center d-collun">
        <form action="" method="post" class="shield d-flex-center d-collun">
            <h1>Cadastrar autor</h1>

            <label for="nome">Nome do autor:</label>
            <input type="text" id="nome" name="nome" required><br>
            <label for="nome">Sobrenome do autor:</label>
            <input type="text" id="sobrenome" name="sobrenome" required><br>

            <button class="botao-enviar">Cadastrar</button>
        </form>
        <table class="table">
            <tr>
                <th>Id autor</th>
                <th>Nome do autor</th>
                <th>Alterar infomação</th>
                <th>Excluir autor</th>
            </tr>
            {% for autor in autor %}
            <tr>
                <td>{{ autor.id_autor }}</td>
                <td>{{ autor.nome_completo }}</td>
                <td class="alterar-info"><button id="botao" class="botao-alterar">Alterar</button></td>
                <td class="alterar-info"><button id="botao" class="botao-excluir">Excluir</button></td>
            </tr>
            <div class="sumir" id="meuAlert">
                <div class="alert-container">
                    <h1>Alterar o nome do autor:</h1>
                    <form action="">
                        <input type="text">
                        <div class="d-flex-center">
                            <button onclick="fecharAlert()" value="confirmar" name="confirmacao" form="submit"
                                style="margin-right: 0.5rem;" class="botao-enviar">Sim</button>

                            <button onclick="fecharAlert()" value="negar" name="negado" class="botao-cancelamento"
                                style="margin-left: 0.5rem;">Não</button>
                    </form>
                </div>
            </div>
    </div>
    {% endfor %}
    </table>
</div>

<script src="../../../static/js/botao.js"></script>
{% endblock %}