{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}
{% block content %}


<div>
    <div>
        <h1>Cadastrar:</h1>
        <ul>
            <li>
                <a href="/cadastrolivros"><i> Livro</i></a>
            </li>
            <li>
                <a href="/cadastroautor"><i> Autores</i></a>
            </li>
            <li>
                <a href="/cadastroeditora"><i> Editora</i></a>
            </li>
            <li>
                <a href="/cadastrolocalidade"><i> Localidade</i></a>
            </li>
            <li>
                <a href="/cadastrogenero"><i> Generos</i></a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}