<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

</head>



<body>
    <div>
        <ul>
            <li><a href="/cadastrolocalidade">Localidade</a></li>
            <li><a href="/cadastroeditora">Editora</a></li>
            <li><a href="/cadastroautor">Autores</a></li>
            <li><a href="/cadastrogenero">Gêneros</a></li>
            <li><a href="/cadastrolivros">Livros</a></li>
        </ul>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>