.shield label {
    display: inline-block;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: left;
    width: 15rem;
}

.shield input {
    width: 15rem;
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 0.3rem;
}


.sumir {
    display: none;
}

.alert-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    backdrop-filter: blur(1.5rem);
}

.alert-container p {
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.alterar-info:hover {
    background-color: #ffffff;
}

.botao-alterar,
.botao-excluir {
    border: None;
    background: none;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.botao-alterar:active,
.botao-excluir:active {
    font-size: .7rem;

}

.botao-alterar {
    color: #0055a5;
}

.botao-excluir {
    color: #a50000;
}