.input-editora input {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin-top: 0.2rem;
}

.input-editora label {
    margin-top: 1rem;
}

.input-editora {
    margin: 0.5rem;
    margin-bottom: 1rem;
}

.alterar-info:hover {
    background-color: #ffffff;
}

.botao-alterar,
.botao-excluir {
    border: None;
    background: none;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.botao-alterar:active,
.botao-excluir:active {
    font-size: .7rem;

}

.botao-alterar {
    color: #0055a5;
}

.botao-excluir {
    color: #a50000;
}