.input-editora input {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin-top: 0.2rem;
}

.input-editora label {
    margin-top: 1rem;
}

.input-editora {
    margin: 0.5rem;
    margin-bottom: 1rem;
}