{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}
{% block content %}

<!-- <head>
    <link rel="stylesheet" href="../../../static/css/paginas/buscaremprestimo.css">
</head> -->

<div>
    <div>
        <form action="" method="post">
            <h2>Buscar emprestimo</h2>
            <label>ID emprestimo:</label>
            <input type="text" id="emprestimo_id" name="emprestimo_id">
            <button id="botao" type="submit">Procurar</button>
        </form>
    <form action="" method="post">
            <label>Nome Livro:</label>
            <select name="livro_escolhido" id="livro_escolhido">
                <option value="">-- Selecione --</option>
                {% for escolha in titulos %}
                <option value="{{ escolha.id_livro }}">{{ escolha.titulo }}</option>
                {% endfor %}
            </select>
            <button id="botao" type="submit">Procurar</button>
        </form>
    <form action="" method="post">
            <label>ID Usuario:</label>
            <input type="text" id="id_usuario" name="id_usuario">
            <button id="botao" type="submit">Procurar</button>
        </form>
    </div>
    <div>
        <div>
            <div>
                <table>
                    <tr>
                        <td>ID do emprestimo</td>
                        <td>Usuario</td>
                        <td>Livro</td>
                        <td>Numero do exemplar</td>
                        <td>Etiqueta</td>
                        <td>Data de saida do livro</td>
                        <td>Hora da saida do livro</td>
                        <td>Data previta para deveolução</td>
                        <td>Status do emprestimo</td>
                        <td>Data da deveolução</td>
                    </tr>
                    {% if emprestimo %}
                    {% for emprestimo in emprestimo %}
                    <tr>
                        <td>{{ emprestimo.id_emprestimo }}</td>
                        <td>{{ emprestimo.usuario }}</td>
                        <td>{{ emprestimo.livro }}</td>
                        <td>{{ emprestimo.numero_exemplar }}</td>
                        <td>{{ emprestimo.etiqueta }}</td>
                        <th>{{ emprestimo.data_saida }}</th>
                        <th>{{ emprestimo.hora_saida }}</th>
                        <th>{{ emprestimo.data_prevista_devolucao }}</th>
                        <th>{{ emprestimo.status_emprestimo }}</th>
                        <th>{{ emprestimo.data_devolucao }}</th>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% if nivel > 4 %}
<div>
    <h2>Alterar cadastro de emprestimo</h2>
    <form action="" method="post">

        <label for="">Alterar Livro:</label>
        <select name="livro_escolhido" id="livro_escolhido">
            <option value="">-- Selecione --</option>
            {% for escolha in titulos %}
            <option value="{{ escolha.id_livro }}">{{ escolha.titulo }}</option>
            {% endfor %}
        </select>

        <label for="data_saida">Data de saida do livro:</label>
        <input type="date" id="data_saida" name="data_saida">

        <label for="hora_saida">Hora da saida do livro:</label>
        <input type="time" id="hora_saida" name="hora_saida">

        <label for="data_prevista_devolucao">Data prevista para deveolução:</label>
        <input type="date" id="data_prevista_devolucao" name="data_prevista_devolucao">

        <label for="status_emprestimo">Status do emprestimo:</label>
        <select name="status_emprestimo" id="status_emprestimo">
        </select>
    <button style="margin-top: 1rem;">Enviar</button>
    </form>
</div>
{% endif %}
{% endblock %}