{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" href="../../../static/css/rotas/buscaremprestimo.css">
</head>

<div class="d-flex-center d-collun">
    <div class="container-buscaremprestimo shield">
        <form action="" method="post">
            <h2>Buscar emprestimo</h2>
            <label>ID emprestimo:</label>
            <input type="text" id="emprestimo_id" name="emprestimo_id">
            <button id="botao" type="submit" class="botao-enviar">Procurar</button>
        </form>
        <form action="" method="post">
            <label>Nome Livro:</label>
            <select name="livro_escolhido" id="livro_escolhido">
                <option value="">-- Selecione --</option>
                {% for escolha in titulos %}
                <option value="{{ escolha.id_livro }}">{{ escolha.titulo }}</option>
                {% endfor %}
            </select>
            <button id="botao" type="submit" class="botao-enviar">Procurar</button>
        </form>
        <form action="" method="post">
            <label>ID Usuario:</label>
            <input type="text" id="id_usuario" name="id_usuario">
            <button id="botao" type="submit" class="botao-enviar">Procurar</button>
        </form>
    </div>
    <div>
        <div>
            <div>
                <table class="table">
                    <tr>
                        <th>ID do emprestimo</th>
                        <th>Usuario</th>
                        <th>Livro</th>
                        <th>Numero do exemplar</th>
                        <th>Etiqueta</th>
                        <th>Data de saida do livro</th>
                        <th>Hora da saida do livro</th>
                        <th>Data previta para deveolução</th>
                        <th>Status do emprestimo</th>
                        <th>Data da deveolução</th>
                    </tr>
                    {% if emprestimo %}
                    {% for emprestimo in emprestimo %}
                    <tr>
                        <td>{{ emprestimo.id_emprestimo }}</td>
                        <td>{{ emprestimo.usuario }}</td>
                        <td>{{ emprestimo.livro }}</td>
                        <td>{{ emprestimo.numero_exemplar }}</td>
                        <td>{{ emprestimo.etiqueta }}</td>
                        <td>{{ emprestimo.data_saida }}</td>
                        <td>{{ emprestimo.hora_saida }}</td>
                        <td>{{ emprestimo.data_prevista_devolucao }}</td>
                        <td>{{ emprestimo.status_emprestimo }}</td>
                        <td>{{ emprestimo.data_devolucao }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                        <td>Sem resultados</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% if nivel > 4 %}
<div>
    <h2>Alterar cadastro de emprestimo</h2>
    <form action="" method="post">

        <label for="">Alterar Livro:</label>
        <select name="livro_escolhido" id="livro_escolhido">
            <option value="">-- Selecione --</option>
            {% for escolha in titulos %}
            <option value="{{ escolha.id_livro }}">{{ escolha.titulo }}</option>
            {% endfor %}
        </select>

        <label for="data_saida">Data de saida do livro:</label>
        <input type="date" id="data_saida" name="data_saida">

        <label for="hora_saida">Hora da saida do livro:</label>
        <input type="time" id="hora_saida" name="hora_saida">

        <label for="data_prevista_devolucao">Data prevista para deveolução:</label>
        <input type="date" id="data_prevista_devolucao" name="data_prevista_devolucao">

        <label for="status_emprestimo">Status do emprestimo:</label>
        <select name="status_emprestimo" id="status_emprestimo">
        </select>
        <button style="margin-top: 1rem;">Enviar</button>
    </form>
</div>
{% endif %}
{% endblock %}