{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}
{% block content %}

<!-- <head>
    <link rel="stylesheet" href="../../../static/css/paginas/emprestimo.css">
</head> -->

<div>
    <form action="" method="post">
        <h1>Emprestimo de livros</h1>
    <div>
            <label for="livro">Livro:</label>
            <select id="opcoes">
                <option>--Selecionar--</option>
                {% for livro in livro %}
                <option value="{{livro.id_livro}}">{{livro.id_livro}} - {{ livro.titulo }}</option>
                {% endfor %}
            </select>
        </div>
    <div>
            <label for="usuario">Usuário:</label>
            <select id="usuarios">
                <option>--Selecionar--</option>
                {% for u in usuario %}
                <option value="">{{ u.id_usuario }} - {{ u.nome }}</option>
                {% endfor %}
            </select>
        </div>
    <div>
            <label for="exemplar">Exemplar:</label>
            <select id="exemplares">
                <option>--Selecionar--</option>
                {% for e in exemplar %}
                <option value="">{{ e.etiqueta }} - {{ e.numero_patrimonio }}</option>
                {% endfor %}
            </select>
        </div>
    <div>
            <label for="data_devolucao">Data de Devolução:</label>
            <input type="date" id="data_devolucao" name="data_devolucao">
        </div>
    <button type="submit">Registrar Empréstimo</button>
    </form>
</div>
{% endblock %}