{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" href="../../../static/css/paginas/usuario.css">
</head>
<div class="d-flex-center">
    <div class="shield">
        <ul class="info-usuario">
            <li>Usuario: {{ usuario.nome }}</li>
            <li>Cracha: {{ usuario.id }}</li>
            <li>Email: {{ usuario.email }}</li>
            <li>Data de Nascimento: {{ usuario.data_nascimento }}</li>
            <li>CPF: {{ usuario.cpf }}</li>
            <li>Telefone: {{ usuario.telefone }}</li>
            <li>Nível de acesso: {{ usuario.nivel_acesso }}</li>
        </ul>
    </div>
    <div class="shield">
        <h2>Alterar informações:</h2>
        <form action="{{ url_for('usuario') }}" method="POST">
            <label>Nome do usuario:</label>
            <input type="text" name="nome" id="nome" value="{{ usuario.nome }}">
            <button class="botao-envio" type="submit">Atualizar</button>
        </form>

        <form action="{{ url_for('usuario') }}" method="POST">
            <label>Email:</label>
            <input type="text" name="email" id="email" value="{{ usuario.email }}">
            <button class="botao-envio" type="submit">Atualizar</button>
        </form>

        <form action="{{ url_for('usuario') }}" method="POST">
            <label>Data de Nascimento:</label>
            <input type="date" name="data_nascimento" id="data_nascimento">
            <button class="botao-envio" type="submit">Atualizar</button>
        </form>

        <form action="{{ url_for('usuario') }}" method="POST">
            <label>CPF:</label>
            <input type="text" name="cpf" id="cpf" value="{{ usuario.cpf }}">
            <button class="botao-envio" type="submit">Atualizar</button>
        </form>

        <form action="{{ url_for('usuario') }}" method="POST">
            <label>Telefone:</label>
            <input type="tel" name="telefone" id="telefone" value="{{ usuario.telefone }}">
            <button class="botao-envio" type="submit">Atualizar</button>
        </form>

        <form action="{{ url_for('usuario') }}" method="POST">
            <label>Nivel de acesso:</label>
            <input type="number" name="nivel_acesso" id="nivel_acesso" placeholder="{{ usuario.nivel_acesso }}">
            <button class="botao-envio" type="submit">Atualizar</button>
        </form>
    </div>
</div>
{% endblock %}